body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

.titulo {
    margin-top: 20px;
    text-align: center;
}

.placares {
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 30%;
}
.casa h2{
    margin-left: 35%;
    margin-top: 25px;
}
.visitante h2{
    margin-left: 25%;
    margin-top: 25px;

}
.casa, .visitante {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 90px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
    overflow: hidden;
    transition-duration: 1s;
    margin: 10px;
    margin-left: centers;
}

.casa:hover {
    transform: translateY(5px);
    background: linear-gradient(90deg, #c9530e, #d350db, #910EC9);
    background-size: 400% 400%;
    animation: gradient 6s infinite;
    height: 300px;
}
.visitante:hover {
    transform: translateY(-5px);
    background: linear-gradient(90deg, #c9530e, #d350db, #910EC9);
    background-size: 400% 400%;
    animation: gradient 6s infinite;
    height: 300px;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.texto {
    display: none;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    transition: opacity 25s ease;
}

.casa:hover .texto, .visitante:hover .texto {
    display: flex;
}

section {
    width: 100%;
    background-color: #fff;
}

.tela1 {
    height: 100vh; /* Ocupa toda a altura da tela */
}

.tela2 {
    height: 100vh; /* Ocupa toda a altura da tela ao rolar para baixo */
    background-color: #910EC9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.linha{
    background-color: #910EC9;
    padding: 2px;
}
.linha:hover {
    background: linear-gradient(90deg, #c9530e, #d350db, #910EC9);
    animation: gradient 6s infinite;
}